{% extends 'back/master.html' %}
{% load static %}
{% block headblock %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>check<br><small>your messages!</small>
                </h1>
            </div>
            <div class="breadcrumb breadcrump-top">
                <li>check</li>
                <li><a href="{% url 'message' %}">messages</a></li>
            </div>
        </div>


        <div class="block full">
            <div class="block-title">
                <h2><strong>All</strong> messages</h2>
            </div>

            <div>
                <a href="{% url 'message' %}" class="sidebar-title">
                    <i class="fa fa-envelope pull-right"></i> <strong>Inbox </strong>messages ({{ count }})
                </a>
                {% for x in message %}
                    <div class="sidebar-section">
                        <div class="alert alert-alt">
                            {{ x.name }}<small class="pull-right">{{ x.date }}</small><br>

                            <a href="{% url 'view_message' x.id %}"><strong>View message</strong></a>
                        </div>

                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- END Datatables Content -->



{% endblock %}

{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static  'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock %}