{% extends 'back/master.html' %}
{% load static %}
{% block content %}
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>Edit News<br><small>you can add new news!</small>
                </h1>
            </div>
            <div class="breadcrumb breadcrump-top">
                <li>News</li>
                <li><a href="{% url 'news_list' %}">Edit</a></li>
            </div>
        </div>


        <div class="block full">
            <div class="block-title">
                <h2><strong>Edit</strong> News</h2>
            </div>

            <div>

                <form action="{% url 'news_edit' news.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal form-bordered">

                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text" id="newstitle" name="newstitle" value="{{ news.name }}"  class="form-control" placeholder="news title">{{ form.name }}
                        </div>
                        <div class="col-md-6">
                            <select id="newscat"  name="newscat" class="select-chosen"
                                            data-placeholder="Choose a Category.." style="width: 250px;">
                                        <option>{{ news.category }}</option>
                                        <!-- Required for data-placeholder attribute to work with Chosen plugin -->

                                <option value="sport">sport</option>


                                     </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12"  >
                            <textarea type="text"  id="newstextshort" name="newstextshort" rows="2" class="form-control" placeholder="short text">{{ news.category }}</textarea>
                        </div>
                        <div class="col-md-12">
                            <textarea type="text" id="bodyText" name="bodyText" rows="7" class="form-control" placeholder="body text">{{ news.body_text }}</textarea>
                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <input type="file" id="mydoc" name="mydoc" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img style="display: inline-block ; width: 150px;height: 150px" src="{{ news.pic.url }}">
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-md-9 col-md-offset-0">
                            <input type="submit" class="btn btn-sm btn-primary">

                            <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Datatables Content -->



{% endblock %}

{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static  'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock %}