{% extends 'back/master.html' %}
{% load static %}
{% block content %}
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>Sub-Category List<br><small>you can edit or delete your data!</small>
                </h1>
            </div>
            <div class="breadcrumb breadcrump-top">
                <li>Sub-Category</li>
                <li><a href="{% url 'news_list' %}">List</a></li>
            </div>
        </div>


        <div class="block full">
            <div class="block-title">
                <h2><strong>Sub-Category</strong> List</h2>
            </div>

            <div class="table-responsive">
                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                    <tr>

                        <th class="text-center">ID</th>
                        <th class="text-center">Sub-Category</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for i in cat_list %}
                        <tr class="text-center">
                            <td>{{ i.id }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.catName }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="{% url 'subCategory_edit'  i.id%}" data-toggle="tooltip" title="Edit"
                                       class="btn btn-default"><i class="fa fa-pencil">EDIT</i></a>
                                    <a href="{% url 'subCategory_delete' i.id %}" data-toggle="tooltip" title="Delete"
                                       class="btn btn-danger"><i class="fa fa-times">DELETE</i></a>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END Datatables Content -->



{% endblock %}

{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static  'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock %}