{% extends 'front/master.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <!-- Feature post -->
    <section class="bg0">

        <div class="row m-rl-0 justify-content-center">
            {% for last in lastNews %}
                <div class="col-md-4 p-rl-1 p-b-2">
                    <div class="bg-img1 size-a-11 how1 pos-relative"
                         style="background-image: url({{ last.pic.url }});">
                        <a href="{% url 'news_detail' last.id %}" class="dis-block how1-child1 trans-03"></a>

                        <div class="flex-col-e-s s-full p-rl-25 p-tb-18">
                            <a href="#"
                               class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                {{ last.category }}
                            </a>

                            <h3 class="how1-child2 m-t-14 m-b-10">
                                <a href="{% url 'news_detail' last.id %}" class="f1-l-1 cl0 hov-cl10 trans-03 respon1">
                                    {{ last.short_text }}
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </section>

    <!-- Post -->
    <section class="post bg0 p-t-85">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="p-r-10 p-rl-0-sr991 p-b-20">
                        {% for newscat in cat %}
                            {% if newscat.count != 0 %}
                                <div class="container">
                                <div class="how2 how2-cl4 flex-s-c">
                                    <h3 class="f1-m-2 cl17 tab01-title">
                                        {{ newscat.name }}
                                    </h3>
                                </div>

                                <div class="row p-t-35">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        {% for ab in news %}
                                            {% if ab.category == newscat.name %}
                                                <div class="flex-wr-sb-s m-b-30">
                                                    <a href="{% url 'news_detail' ab.id %}"
                                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                                        <img src="{{ ab.pic.url }}" alt="IMG">
                                                    </a>

                                                    <div class="size-w-2">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'news_detail' ab.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ ab.name }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                    {{ ab.category }}
                                                                </a>

                                                                <span class="f1-s-3 m-rl-3">
                                                                    -
                                                                </span>

                                                                <span class="f1-s-3">
                                                                    {{ ab.date | naturaltime }}
                                                                </span>
                                                            </span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                    {% for pop in popNews %}
                                        {% if pop.category == newscat.name %}

                                            <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                                <!-- Item post -->
                                                <div class="flex-wr-sb-s m-b-30">
                                                    <a href="{% url 'news_detail' pop.id %}"
                                                       class="size-w-1 wrap-pic-w hov1 trans-03">
                                                        <img src="{{ pop.pic.url }}" alt="IMG">
                                                    </a>

                                                    <div class="size-w-2">
                                                        <h5 class="p-b-5">
                                                            <a href="{% url 'news_detail' pop.id %}"
                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                {{ pop.name }}
                                                            </a>
                                                        </h5>

                                                        <span class="cl8">
                                                        <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                            {{ pop.category }}
                                                        </a>

                                                        <span class="f1-s-3 m-rl-3">
                                                            -
                                                        </span>

                                                        <span class="f1-s-3">
                                                            {{ pop.date }}
                                                        </span>
                                                    </span>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <!-- Life Style  -->

                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- Latest -->
    <section class="bg0 p-t-60 p-b-40">
        <div class="container">
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Latest News
                </h3>
            </div>

            <div class="row p-t-35">
                {% for new in news %}
                    <div class="col-sm-6 col-md-4">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="{% url 'news_detail' new.id %}" class="wrap-pic-w hov1 trans-03">
                                <img style="display: inline-block;width: 330px; height: 240px" src="{{ new.pic.url }}"
                                     alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="{% url 'news_detail' new.id %}" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        {{ new.short_text }}
                                    </a>
                                </h5>

                                <span class="cl8">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									{{ new.writer }}
								</a>

								<span class="f1-s-3 m-rl-3">
									-
								</span>

								<span class="f1-s-3">
									{{ new.date }}
								</span>
							</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}