{% load static %}


<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar h-100 p-rl-30">
                <div class="align-self-stretch size-w-0 pos-relative m-r-30">
                    <div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

                        <span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown"

                              data-out="fadeOutDown">
                            {% for n in lastNews %}
                                <span class="dis-inline-block slide100-txt-item animated visible-false">
                                        {{ n.short_text }}
                                    </span>
                            {% endfor %}

							</span>
                    </div>
                </div>


                <div class="flex-wr-e-c">
                    <div class="left-topbar">
							<span class="left-topbar-item flex-wr-s-c">
								<span>
									New York, NY
								</span>

								<img class="m-b-1 m-rl-8" src="{% static 'front/images/icons/icon-night.png' %}"
                                     alt="IMG">

								<span>
									HI 58° LO 56°
								</span>
							</span>

                        <a href="{% url 'about' %}" class="left-topbar-item">
                            About
                        </a>

                        <a href="{% url 'contact' %}" class="left-topbar-item">
                            Contact
                        </a>

                        <a href="#" class="left-topbar-item">
                            Sing up
                        </a>

                        <a href="#" class="left-topbar-item">
                            Log in
                        </a>

                        <a href="#" class="left-topbar-item"></a>
                    </div>

                    <div class="right-topbar p-l-18">
                        <a href="{{ main.facebook }} ">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="{{ main.twitter }}">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href=" {{ main.instagram }} ">
                            <span class="fab fa-instagram"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="index.html"><img src="{% static 'front/images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>

        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'front/images/icons/icon-night.png' %}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
                </li>

                <li class="left-topbar">
                    <a href="{% url 'about' %}" class="left-topbar-item">
                        About
                    </a>

                    <a href="#" class="left-topbar-item">
                        Contact
                    </a>

                    <a href="#" class="left-topbar-item">
                        Sing up
                    </a>

                    <a href="#" class="left-topbar-item">
                        Log in
                    </a>
                </li>

                <li class="right-topbar">
                    <a href="#">
                        <span class="fab fa-facebook-f"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-twitter"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-pinterest-p"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-vimeo-v"></span>
                    </a>

                    <a href="#">
                        <span class="fab fa-youtube"></span>
                    </a>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="{% url 'home' %}">Home</a>

                </li>

                <li>
                    <a href="category-01.html">News</a>
                </li>


                <li>
                    <a href="#">Features</a>
                    <ul class="sub-menu-m">
                        <li><a href="category-01.html">Category Page v1</a></li>
                        <li><a href="category-02.html">Category Page v2</a></li>
                        <li><a href="blog-grid.html">Blog Grid Sidebar</a></li>
                        <li><a href="blog-list-01.html">Blog List Sidebar v1</a></li>
                        <li><a href="blog-list-02.html">Blog List Sidebar v2</a></li>
                        <li><a href="blog-detail-01.html">Blog Detail Sidebar</a></li>
                        <li><a href="blog-detail-02.html">Blog Detail No Sidebar</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>

                    <span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
                </li>
            </ul>
        </div>

        <!--  -->
        <div class="wrap-logo no-banner container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'front/images/icons/logo-01.png' %}" alt="LOGO"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="index.html">
                        <img src="{% static 'front/images/icons/logo-01.png' %}" alt="LOGO">
                    </a>

                    <ul class="main-menu justify-content-center">
                        <li class="main-menu-active">
                            <a href="{% url 'home' %}">Home</a>
                        </li>

                        {% for c in cat %}


                            <li class="mega-menu-item">
                                <a href="category-01.html">{{ c.name }}</a>


                                <div class="sub-mega-menu">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">All</a>
                                        {% for sc in subCat %}
                                            {% if sc.catName == c.name %}
                                                <a class="nav-link" data-toggle="pill" href="#"
                                                   role="tab">{{ sc.name }} </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="news-0" role="tabpanel">
                                            <div class="row">
                                                {% for new in news %}
                                                    {% if new.category == c.name %}
                                                        <div class="col-3">
                                                            <!-- Item post -->
                                                            <div>
                                                                <a href="{% url 'news_detail' new.id %}"
                                                                   class="wrap-pic-w hov1 trans-03">
                                                                    <img style="display: inline-block;width: 80px;height: 80px"
                                                                         src="{{ new.pic.url }}" alt="IMG">
                                                                </a>

                                                                <div class="p-t-10">
                                                                    <h5 class="p-b-5">
                                                                        <a href="#"
                                                                           class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                            {{ new.short_text }}
                                                                        </a>
                                                                    </h5>

                                                                    <span class="cl8">
                                                                        <a href="#"
                                                                           class="f1-s-6 cl8 hov-cl10 trans-03">
                                                                            subCategory
                                                                        </a>

                                                                        <span class="f1-s-3 m-rl-3">
                                                                            -
                                                                        </span>

                                                                        <span class="f1-s-3">
                                                                            {{ new.date }}
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}


                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </li>


                        {% endfor %}


                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>